.body{
  margin: 0;
  padding: 0;
}

.main {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.banner{
  background-image: linear-gradient(to bottom, rgb(255 255 255 / 0%) 0%,rgb(0 0 0 / 69%) 100%), url("./BannerYoutube.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
}

.banner h1{
  text-align: center;
  padding-top: 35vh;
  color: white;
  font-size: 3rem;
  margin: 0;
}

.scrollingWrapperFlexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  position: relative;
  scroll-snap-align: center;
  padding: 5vh;
}